@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes inicio {
    0%{

    }
    100%{

    }
}
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 15px;
    animation: forwards;
    animation-name: inicio;
    animation-duration: 2s;
}
#title{
    position: absolute;
    left: 16%;
    top: 0%;
}
#max{
    border-radius: 20px;
    transition-duration: 500ms;
}
#max:hover{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    background: transparent;
    width: 200px;
    height: 60px;
    font-size: 24px;
    transition-duration: 500ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 32px;
}
button:hover{
    background-color: rgb(0, 255, 13);
    font-size: 25px;
}
#exemplo{
    border-radius: 20px;
}